// 修复选择框，和body中的选择框不对齐的
.ant-table-thead > tr > th.ant-table-selection-column, .ant-table-tbody > tr > td.ant-table-selection-column{
    text-align: left;
}

// 编辑icon设置为鼠标手形状
.kotomi-components-table-editor-icon {
    cursor: pointer;
}

// 设置form item 的底部消除多余的空白
.ant-table-tbody > tr > td > .ant-form-item{
    margin-bottom: 0px;
}